* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(#fce7f3, #ede9fe, #dbeafe);
    background: linear-gradient(#fce7f3, #ede9fe, #dbeafe);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover; 
    color: #333
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    position: sticky;
    top: 0;
    z-index: 10;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7e22ce;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-box input {
    border: none;
    outline: none;
    padding: 0.5 rem 0.8rem;
    border-radius: 1rem;
    background: #f3f4f6;
}

.avatar {
    border-radius: 50%;
    border: 2px solid #7e22ce;
}

.hero { 
    text-align: center;
    padding: 4rem 1rem;
}

.hero h2 {
    font-size: 2.2rem;
    font-weight: 800;
    color: #6d28d9;
    margin-bottom: 1rem;
}

.hero p {
    margin-bottom: 1.5rem;
}

.cta {
    background: #7e22ce;
    color: white;
    padding: 0.8rem 1.6rem;
    border-radius: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.2s ease;
    text-decoration: none;
}

.cta:hover {
    transform: scale(1.05);
    background: #6d28d9;
}

.books {
    padding: 2rem;
}

.books h3 {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #333;

}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 1.5rem;
}

.book-card {
    background: white;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.book-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.book-card .info {
    padding: 0.8rem;
}

.book-card h4 {
    color: #6d28d9;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.book-card p {
  font-size: 0.9rem;
  color: #666;
}

.book-card .rating {
  display: block;
  margin-top: 0.4rem;
  color: #f59e0b;
  font-weight: 600;
}

.book-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}